# Cache
<IfModule mod_headers.c>
    Header set X-Content-Type-Options nosniff
    Header set X-Frame-Options DENY
    Header set X-XSS-Protection 0

    <FilesMatch "\.(jpg|jpeg|png|gif|ico|svg|ttf|eot|woff|woff2)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    <FilesMatch "\.(json)$">
       Header set Cache-Control "max-age=3600, public"
   </FilesMatch>

    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpg "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/gif "access plus 1 week"
  ExpiresByType image/jpeg "access plus 1 week"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
  ExpiresByType image/svg+xml "access plus 1 week"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType audio/x-wav "access plus 1 month"
  ExpiresByType audio/mpeg "access plus 1 month"
  ExpiresByType video/mpeg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/quicktime "access plus 1 month"
  ExpiresByType video/x-ms-wmv "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresByType application/json "access plus 1 hour"
  ExpiresByType text/javascript "access plus 1 week"
  ExpiresByType application/x-javascript "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
</IfModule>

# Compress
<IfModule mod_deflate.c>

  <filesMatch "\.(js|css|html|xml|json|svg|gif|png|jpeg|jpg|ico|ttf|eot|woff|woff2)$">
    SetOutputFilter DEFLATE
  </filesMatch>

</IfModule>

# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L,QSA]
</ifModule>